<!-- Header Mobile -->
<div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
        <a href="/"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m m-r-15">
        <% if(path !== '/checkout' && path !== '/orders'){ %>
            <a href="/cart" id="cart-total-mobile" class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" <% if(session.cart) { %>
                data-notify="
                <%= session.cart.totalQty%>"
                    <% } else if(user) { %>
                        <% if(!user.cart.totalQty) { %>
                            data-notify="0"
                            <% } else { %> data-notify="
                                <%= user.cart.totalQty %>"
                                    <% } %>
                                        <% } else { %>data-notify="0"
                                            <% } %> >
                                                <i class="zmdi zmdi-shopping-cart"></i>
            </a>
            <% } %>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
                <span class="hamburger-inner"></span>
        </span>
    </div>
</div>


<!-- Menu Mobile -->
<div class="menu-mobile">
    <ul class="topbar-mobile">
        <li>
            <div class="left-top-bar">
                Free shipping for standard order over $100
            </div>
        </li>
        <li>
            <div class="right-top-bar flex-w h-full">

                <a href="/faq" class="flex-c-m trans-04 p-lr-25">Help & FAQs</a>
                <% if(isAuthenticated == true) { %>
                    <div class="dropdown">
                        <div class="nav-ava">
                            <%if(user.userImage) { %>
                                <img src="/<%= user.userImage %>" class="img" alt="">
                                <% } else { %>
                                    <img src="/images/user/guest-user.jpg" class="img" alt="">
                                    <% }  %>
                        </div>
                        <a href="/setting" class="flex-c-m trans-04 p-r-35 p-l-10">
                            <%=user.name%>
                        </a>
                        <div class="dropdown-content">
                            <a href="/orders" class="flex-c-m trans-04 p-lr-25"><i style="font-size: 15px;" class="fa fa-reorder"></i>&emsp;My Order</a>
                            <a href="/setting" class="flex-c-m trans-04 p-lr-25"><i style="font-size: 15px;" class="fa fa-cog"></i>&emsp;Settings</a>
                            <form action="/logout" method="POST">
                                <button class="flex-c-m trans-04 p-lr-25"><i style="font-size: 15px;" class="fa fa-sign-out"></i>&emsp;Log out</button>
                            </form>
                        </div>
                    </div>
                    <% } else { %>
                        <a href="/login" class="flex-c-m trans-04 p-lr-25">My Account</a>
                        <% } %>
                            <a href="#" class="flex-c-m trans-04 p-lr-25">EN</a>
                            <a href="#" class="flex-c-m trans-04 p-lr-25">USD</a>
            </div>
        </li>
    </ul>

    <ul class="main-menu-m">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>

<!-- Modal Search -->
<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="/images/icons/icon-close2.png" alt="CLOSE">
            </button>

        <form class="wrap-search-header flex-w p-l-15">
            <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
            <input class="plh3" type="text" name="search" placeholder="Search...">
        </form>
    </div>
</div>